:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cards {
  display: flex;
  align-items: center;
}

.window {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 3% 0 0 3%;
  padding: 1%;
  height: 400px;
}

.profileImage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: transform 1s ease-in-out; 
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate360 0.7s linear;
}

.username {
  font-weight: bold;
  font-size: 23px;
}

.role {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid black;
  padding: 0 8px;
  border-radius: 8px;
}

.bio {
  width: 350px;
  text-align: center;
  border-radius: 6px;
  background-color: rgb(26, 25, 25);
}

.contributions {
  color: rgb(36, 36, 36);
  background-color: rgba(277, 277, 277, 0.8);
  padding: 3px;
  border-radius: 8px;
}

.ull {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: square;
}

.Languages {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 95%;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.yesButtons,
.NoButtons {
  border: 0cap;
  outline: none;
  margin-left: 30px;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
}

.yesButtons:hover,
.NoButtons:hover {
  cursor: pointer;
  opacity: 0.8;
} 

.yesButtons {
  background-color: green;
}

.NoButtons {
  background-color: red;
}